.categories_filter {
    border-bottom: 1px solid var(--gray-blue-line);

    &::-webkit-scrollbar {
        width: 9px;
    }

    &::-webkit-scrollbar-track {
        background: var(--blue-gray);
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--gray-light2);
        border-radius: 5px;
    }

    // &::-webkit-scrollbar-thumb:hover {
    //     background: #555;
    // }
}

.categories_filter_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--black);
    cursor: pointer;

    &:after {
        content: "\e929";
        font-family: "icomoon";
        font-size: 10px;
        transform: rotateZ(-180deg);
        transition: transform 0.15s;
    }
}

.filter_item_wrap {
    max-height: 232px;
    padding-bottom: 24px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 5px;
    }

    // &::-webkit-scrollbar-track {
    //     background: red;
    // }

    &::-webkit-scrollbar-thumb {
        background: var(--gray-light2);
        border-radius: 3px;
    }

    // &::-webkit-scrollbar-thumb:hover {
    //     background: #555;
    // }
}

.filter_item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & + .filter_item {
        margin-top: 8px;
    }
}

.filter_item_count {
    font-size: 16px;
    line-height: 24px;
    color: var(--gray);
}
