header {
    .header-top-panel {
        background-color: var(--blue-gray);
        .header-top-panel-inner {
            display: flex;
            justify-content: space-between;
            max-width: 1264px;
            width: 100%;
            margin: 0 auto;
            padding: 7px 20px;
        }
        .top-panel-contact-number {
            display: flex;
            grid-column-gap: 8px;
            span {
                color: #281e78;
                font-weight: bold;
                line-height: 22px;
            }
        }
        .top-panel-languages {
            span {
                color: #281e78;
                margin-right: 5px;
                vertical-align: middle;
                font-weight: bold;
            }
            svg {
                width: 14px;
                height: 7px;
            }
        }
    }
    nav {
        display: flex;
        justify-content: space-between;
        max-width: 1264px;
        width: 100%;
        margin: 0 auto;
        padding: 16px 20px;
        .header-burger-logo {
            display: flex;
            justify-content: space-between;
            grid-column-gap: 3.888889vw;
            align-items: center;
            .header-burger {
                svg {
                    width: 48px;
                    height: 48px;
                }
            }
            .header-logo {
                svg {
                    width: 197px;
                    height: 48px;
                }
            }
            .header-burger,
            .header-logo {
                cursor: pointer;
            }
        }
        .header-search-area {
            width: 448px;
            position: relative;
            height: 48px;
            .header-pseudo-input {
                width: 100%;
                height: 48px;
                background-color: #f0f3f5;
                border-radius: 10px;
                padding: 13px 16px;
                cursor: text;
                p {
                    color: #000000;
                    opacity: 0.5;
                }
            }

            .search-icon {
                position: absolute;
                top: 1px;
                right: 1px;
                svg {
                    width: 68px;
                    height: 46px;
                    cursor: pointer;
                    &:last-of-type {
                        display: none;
                    }
                }
            }
        }
        .header-actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header-profile {
                .MuiPaper-root {
                    border-radius: 10px;
                    width: 300px;
                    ul.MuiList-root {
                        padding: 0;
                        li.MuiMenuItem-root {
                            box-sizing: border-box;
                            height: 72px;
                            border-bottom: 1px solid #f0f3f5;
                            padding: 0 24px;
                            &:first-of-type {
                                justify-content: space-between;
                                span {
                                    font-weight: bold;
                                    margin-left: 0;
                                }
                            }
                            &:last-of-type {
                                border: none;
                            }

                            svg {
                                width: 24px;
                            }
                            span {
                                font-weight: normal;
                                font-size: 18px;
                                line-height: 25px;
                                color: #281e78;
                                margin-left: 8px;
                            }
                        }
                    }
                }
                & > div {
                    transform: translate(-100px, 150px) !important;
                }
                .header-account-drop-down-vector {
                    width: 20px;
                    height: 20px;
                    background-color: #ffffff;
                    position: absolute;
                    top: -11px;
                    right: 100px;
                    transform: rotate(45deg);
                }
            }
            .header-bag {
                .MuiButton-root {
                    padding: 0;
                }
            }
        }
    }
}
.search-popup {
    max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    padding: 32px 20px;
    .search-popup-title {
        font-size: 22px;
        line-height: 32px;
        color: #281e78;
        margin-bottom: 25px;
    }
    .popup-pseudo-input {
        width: 100%;
        height: 56px;
        background-color: #f0f3f5;
        border-radius: 10px;
        padding: 16px 14px;
        cursor: text;
        p {
            color: #000000;
            opacity: 0.5;
        }
    }
    .search-icon {
        float: right;
        position: absolute;
        top: 1px;
        right: 1px;
        cursor: pointer;
        svg {
            width: 80px;
            height: 54px;
        }
    }
    .search-popup-poeudo-input-area {
        position: relative;
    }
    .search-popup-popularS {
        margin: 25px 0 16px;
        & + div {
            display: flex;
            flex-wrap: wrap;
            span {
                padding: 4px 15px;
                background-color: #12d8a84d;
                margin: 0 4px 5px;
                border-radius: 5px;
            }
        }
    }
}

.search-popup-autocomplate {
    position: relative;
    .MuiAutocomplete-root {
        width: 96%;
        .MuiFormControl-root {
            .MuiOutlinedInput-root {
                background-color: #f0f3f5;
                .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
                    border: none;
                }
            }
            input {
                &::placeholder {
                    color: #000000;
                    opacity: 0.5;
                    font-family: Noto Sans;
                    font-size: 16px;
                }
            }
        }
    }
    .cancel-search {
        position: absolute;
        top: 20px;
        right: 100px;
    }
    .search-icon {
        position: absolute;
        top: 1px;
        right: 1px;
        cursor: pointer;
        svg {
            width: 80px;
            height: 54px;
        }
    }
    .search-popup-popularS {
        margin: 25px 0 16px;
        padding: 0 24px;
        & + div {
            display: flex;
            flex-wrap: wrap;
            padding: 0 24px;
            span {
                padding: 4px 15px;
                background-color: #12d8a84d;
                margin: 0 4px 5px;
                border-radius: 5px;
            }
        }
    }
}
.MuiAutocomplete-popper {
    > div {
        border-radius: 10px;
    }
}

.css-zw3mfo-MuiModal-root-MuiDialog-root.header-menu-dialog {
    width: 85%;
    .MuiPaper-root {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        .header-menu-categoryes {
            width: 30.7%;
            height: 100%;
            box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
            ul {
                padding: 0;
                li {
                    list-style-type: none;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: 24px;
                    cursor: pointer;
                    &:hover {
                        background-color: #ecf8ff;
                    }
                    span {
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 24px;
                        color: #281e78;
                        margin-left: 16px;
                    }
                    &.active {
                        background-color: #f0f3f5;
                    }
                }
            }
        }
        .header-menu-subcategoryes {
            width: 69.3%;
            padding: 24px;
            display: flex;
            justify-content: space-between;
            .header-menu-active-subcategory {
                width: 70%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                align-content: flex-start;
                .header-menu-active-subcategoryes-item {
                    width: 50%;
                    margin-bottom: 24px;
                    .header-menu-active-subcategoryes-title {
                        color: #12d8a8;
                        font-weight: bold;
                    }
                    .header-menu-active-subSubcategories {
                        display: block;
                        margin-top: 0;
                        margin-bottom: 8px;
                        color: #281e78;
                        text-decoration: none;
                    }
                }
            }
            .header-menu-acive-subategory-view {
                width: 30%;
                & > div {
                    width: 100%;
                    background-color: #f0f3f5;
                    border-radius: 13.587px;
                    img {
                        width: 100%;
                    }
                }
                p {
                    font-size: 16px;
                    line-height: 24px;
                    margin-top: 8px;
                    color: #000000;
                    font-weight: bold;
                }
            }
        }
    }
}

.header-menu {
    .header-menu-close-icon {
        position: absolute;
        top: 24px;
        right: 9.5%;
        width: 50px;
        height: 50px;
        cursor: pointer;
        z-index: 999999;
    }
}

@media screen and (max-width: 1024px) {
    header {
        nav {
            flex-wrap: wrap;
            padding: 16px 4.26% 16px;
            .header-burger-logo {
                order: 1;
                .header-menu {
                    .header-burger {
                        svg {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
                .header-logo {
                    height: 40px;
                    svg {
                        width: 132px;
                    }
                }
            }
            .header-search {
                order: 3;
                margin-top: 24px;
                width: 100%;
                .header-search-area {
                    width: 100%;
                    .search-icon {
                        top: 11px;
                        right: 13px;
                        svg {
                            &:first-of-type {
                                display: none;
                            }
                            &:last-of-type {
                                display: block;
                                width: 26px;
                                height: 26px;
                            }
                        }
                    }
                }
            }
            .header-actions {
                order: 2;
            }
        }
    }
}

@media screen and (max-width: 980px) {
    header {
        nav {
            padding: 16px 15px;
        }
    }
}
