.home-page-banner {
    width: 100%;
    padding: 0 2.77%;
    .home-page-banner-bgi {
        background-repeat: no-repeat;
        height: 496px;
        border-radius: 32px;
        background-size: cover;
        padding: 4.75%;
        display: flex;
        align-items: flex-end;
        .banner-texes {
            .banner-text {
                font-weight: normal;
                font-size: 28px;
                line-height: 38px;
                color: #ffffff;
                margin: 0;
            }
            .banner-mid-text {
                font-weight: bold;
                font-size: 57px;
                line-height: 78px;
                color: #ffffff;
                margin: 0;
            }
        }
    }
    @media (max-width: 1024px) {
        padding: 0 4.26%;
        .home-page-banner-bgi {
            height: 400px;
            padding: 7% 4.75%;
            .banner-texes {
                .banner-text {
                    font-size: 24px;
                    line-height: 32px;
                }
                .banner-mid-text{
                    font-size: 36px;
                    line-height: 48px;
                }
            }
        }
        @media (max-width: 768px) {
            .home-page-banner-bgi{
                height: 343px;
            }
        }
    }
}
