.product_counter {
    display: flex;

    .counter_btn {
        display: flex;
        width: 40px;
        height: 40px;
        background-color: var(--blue-gray);
        color: var(--gray-dark);
        border-radius: 50%;
        border: none;

        i {
            margin: auto;
        }

        .icon-Minus {
            font-size: 1.8px;
        }
    }

    input {
        width: 48px;
        height: 40px;
        margin: 0 8px;
        font-size: 16px;
        color: var(--gray-dark);
        border: 1px solid var(--gray-light);
        border-radius: 3px;
        text-align: center;

        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }
}

@media screen and (max-width: 768px) {
    
    .product_counter {

        .counter_btn {
            width: 32px;
            height: 32px;
        }

        input {
            width: 40px;
            height: 32px;
        }

    }

}
