.order_confirmation {
    max-width: 1264px;
    width: 100%;
    margin: 0 auto 120px;
    padding: 64px 20px;

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 32px;
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
        color: var(--blue);
        text-align: center;

        i {
            margin-right: 10px;
            font-size: 33px;
            color: var(--green);
        }
    }

    p {
        margin-bottom: 48px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;

        strong {
            margin-left: 10px;
        }

        span {
            display: block;
            margin-top: 9px;
        }
    }
}

.order_confirmation_info_wrap {
    position: relative;
    max-width: 600px;
    width: 100%;
    min-height: 100px;
    margin: 0 auto;
    padding: 24px 24px 48px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.order_confirmation_info_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    h2 {
        display: flex;
        align-items: center;
        gap: 16px;
        margin: 0;

        span {
            font-size: 22px;
            line-height: 32px;
            font-weight: 700;
            color: var(--blue);

            i {
                margin-left: 16px;
                font-size: 24px;
            }
        }
    }

    time {
        font-size: 16px;
        line-height: 24px;
        color: var(--black);
    }
}

.order_confirmation_info {
    max-height: 0;
    transition: max-height 500ms;

    &.show_info {
        max-height: 728px;
        overflow-y: auto;
    }

    &::-webkit-scrollbar {
        width: 9px;
    }

    &::-webkit-scrollbar-track {
        background: var(--blue-gray);
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--gray-light2);
        border-radius: 5px;
    }
}

.order_confirmation_total_status {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.order_confirmation_info_total {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: var(--black);

    span {
        margin-left: 8px;
        font-size: 18px;
    }
}

.order_confirmation_info_status {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;

    span {
        color: #7B61FF;
    }
}

.order_confirmation_info_sub {

    h5 {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
    }

    & + .order_confirmation_info_sub {
        margin-top: 16px;
    }
}

.order_confirmation_info_inner {
    display: flex;

    span:first-child {
        min-width: 175px;
        margin-right: 10px;
    }

    .info_text {
        color: var(--blue);
    }

    & + .order_confirmation_info_inner {
        margin-top: 8px;
    }
}

.order_confirmation_product_wrap {
    margin: 24px 0;

    h5 {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        color: var(--black);
    }
}

.order_confirmation_product {
    display: flex;

    & + .order_confirmation_product {
        margin-top: 16px;
    }
}

.order_confirmation_product_img {
    width: 184px;
    height: 184px;
    margin-right: 24px;
    padding: 16px;
    background-color: var(--blue-gray);
    border-radius: 10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.order_confirmation_product_info {

    h4 {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        color: var(--black);
    }

    > span {
        display: flex;
    }
}

.order_confirmation_product_sub {
    display: flex;

    span {
        font-size: 16px;
        line-height: 24px;

        &:first-child {
            min-width: 70px;
            margin-right: 16px;
        }
    }

    .info_detail {
        color: var(--blue);
    }

    & + .order_confirmation_product_sub {
        margin-top: 8px;
    }
}

.order_confirm_show_hide {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    background-color: var(--white);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: var(--blue);
    text-transform: capitalize;
    cursor: pointer;

    i {
        margin-left: 13px;
        transform: rotate(-90deg);
        transition: transform 240ms;
        
    }

    &.show {

        i {
            transform: rotate(-270deg);
        }
    }
}

.mobile_deliver_status {

    h5 {
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;

    }
}

.mobile_deliver_status_sub {
    display: flex;
    align-items: center;
    column-gap: 10px;

    > span {
        font-size: 14px;
        line-height: 24px;
    }

    .deliver_verified {
        color: var(--blue);
    }

    i {
        position: relative;
        font-size: 20px;

        &:before {
            color: var(--blue);
        }
    }
    
    .prev_status {

        &:after {
            content: "";
            position: absolute;
            top: 26px;
            left: 8px;
            display: block;
            width: 2px;
            height: 16px;
            background-color: var(--blue);
        }
        opacity: .5;
    }

    .deliver_inprocess {
        font-weight: 700;
        color: #7B61FF;
    }

    & + .mobile_deliver_status_sub {
        margin-top: 24px;
    }
}

@media screen and (max-width: 1200px) {

    .order_confirmation {
        padding: 40px 20px 80px;
    }
}

@media screen and (max-width: 768px) {
    
    .order_confirmation {
        padding: 20px 16px 16px;

        h1 {
            margin-bottom: 24px;
            flex-direction: column;
            font-size: 22px;
            line-height: 32px;

            i {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }

        p {
            margin-bottom: 32px;
            font-size: 14px;
    
            strong {
                display: block;
                margin-left: 0;
            }
    
            span {
                margin-top: 0;
            }
        }
    }

    .order_confirmation_info_top {
    
        h2 {

            span {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
    
    .order_confirm_show_hide {
        font-size: 14px;
    }

    .order_confirmation_info_total {
        font-size: 14px;

        span {
            font-size: 16px;
        }
    }

    .order_confirmation_info_status {
        font-size: 14px;
    }

    .order_confirmation_info_sub {

        h5 {
            margin-bottom: 8px;
            font-size: 14px;
        }
    }

    .order_confirmation_info_inner {

        span {
            font-size: 14px;

            &:first-child {
                min-width: initial;
            }
        }
    }

    .order_confirmation_payment.order_confirmation_payment {
        flex-direction: column;
        margin-top: 16px;

        .info_text {
            margin-top: 8px;
        }
    }

    .order_confirmation_product_wrap {
        margin: 16px 0 24px;
    }
    
    .order_confirmation_product_img {
        flex-shrink: 0;
        margin-right: 8px;
        width: 106px;
        height: 106px;
        padding: 9px;
    }

    .order_confirmation_product_info {

        h4 {
            margin-bottom: 8px;
            font-size: 14px;
        }
    }

    .order_confirmation_product_sub {
        justify-content: space-between;

        span {
            font-size: 14px;

            &:first-child {
                min-width: initial;
                margin-right: 8px;
            }
        }

        .info_detail {
            text-align: right;
        }

        & + .order_confirmation_product_sub {
            margin-top: 0;
        }
    }
}

@media screen and (max-width: 480px) {

    .order_confirmation_product_info {
        width: calc(100% - 114px);
    }

}
