.add_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 168px;
    padding: 24px;
    color: var(--black);
    background-color: var(--blue-gray);
    border-radius: 5px;
    cursor: pointer;

    i {
        margin-bottom: 16px;
        font-size: 64px;
        color: var(--gray);
    }

    .additem_icon {
        margin-bottom: 8px;
        font-size: 48px;
        color: var(--gray);
    }

    &:hover {
        color: var(--white);
        background-color: var(--green);

        i:before {
            color: var(--white);
        }

        .additem_icon {
            color: inherit;
        }

        .custom_radio_title {
            color: inherit;
        }

        .custom_radio_checkmark {
            border-color: var(--white);

            &:before {
                background-color: var(--white);
            }
        }
    }
}

