.order_item {
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);

    & + .order_item {
        margin-top: 24px;
    }
}

.order_item_info {
    display: flex;
}

.order_item_id_status {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 24px;

    button {
        margin-left: auto;
    }
}

.order_item_id_status_left {
    display: flex;
    width: 50%;
}

.order_item_id {
    max-width: 184px;
    width: 50%;
    margin-right: 24px;

    time {
        font-size: 16px;
        line-height: 24px;
    }
}

.order_item_id_sub {
    display: flex;
    margin-bottom: 8px;

    span {
        margin-right: 8px;
        font-size: 16px;
        line-height: 24px;
    }

    strong {
        font-size: 18px;
        line-height: 24px;
    }
}

.order_item_status {
    width: 50%;
}

.order_item_status_sub {
    display: flex;

    span {
        width: 40%;
        margin-right: 8px;
        font-size: 16px;
        line-height: 24px;
    }

    strong {
        width: 50%;
    }

    .in_progress {
        color: #7B61FF;
    }

    & + .order_item_status_sub {
        margin-top: 8px;
    }
}

.order_item_details {
    display: flex;
    flex-wrap: wrap;
    padding-top: 24px;
    border-top: 1px solid var(--blue-gray);
    
    .order_confirmation_product_wrap { 
        margin: 0;
    }

    .order_confirmation_product {
        padding: 0 0 24px;

        & + .order_confirmation_product {
            margin-top: 0;
            padding: 24px 0;
            border-top: 1px solid var(--blue-gray);
        }
    }

    button {
        margin-left: auto;
    }
}

@media screen and (max-width: 1200px) {

    .order_item_id_status_left {
        width: calc(100% - 168px);
    }

}

@media screen and (max-width: 992px) {

    .order_item_id_status_left {
        width: 100%;
        margin-bottom: 24px;
    }

}

@media screen and (max-width: 768px) { 

    .order_item_id_status {

        button {
            width: 100%;
        }
    }

    .order_item_id_status_left {
        width: 100%;
        justify-content: space-between;
    }
    
    .order_item_id {
        max-width: initial;
        margin-right: 8px;
    }

    .order_item_id_sub {

        span {
            font-size: 14px;
        }

        strong {
            font-size: 16px;
        }
    }
    
    .order_item_status_sub {
        justify-content: flex-end;

        span {
            width: auto;
            font-size: 14px;
            text-align: right;
        }

        strong {
            width: auto;
            font-size: 16px;
        }
    }

    .order_item_details {
        padding-top: 0;

        .order_confirmation_product_wrap {
            width: 100%;
            margin-bottom: 8px;
        }

        .order_confirmation_product {
            padding: 16px 0;
        }

        button {
            width: 100%;
        }
    }

}
