.signIn-popUp {
    width: 467px;
    padding: 56px 48px;
    .signIn-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        p {
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            color: #281e78;
        }
        button {
            height: 48px;
            border: 1px solid #281e78;
            color: #281e78;
            padding: 12px 43px;
            background-color: #ffffff;
            font-size: 16px;
            font-weight: bold;
            border-radius: 10px;
            &:hover {
                background-color: #281e78;
                color: #ffffff;
                transition: 0.25s;
            }
        }
    }
    .MuiFormControl-root {
        width: 100%;
        margin-bottom: 24px;
        &.signIn-password {
            margin-top: 18px;
        }
        .MuiOutlinedInput-root.Mui-focused {
            fieldset {
                border-color: #12d8a8;
            }
        }
        label.Mui-focused {
            color: #12d8a8;
        }
    }
    .signIn-close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        cursor: pointer;
    }
    .signIn-remember-forgot-pass {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
        > a {
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            color: #281e78;
            margin-bottom: 0;
            text-decoration: none;
            cursor: pointer;
        }
    }
    .signIn-button{
        width: 100%;
        height: 48px;
        color: #FFFFFF;
        border: none;
        background-color: #281e78;
        border-radius: 10px;
        margin-bottom: 24px;
        &+p{
            text-align: center;
            margin: 0;
            span{
                &:last-of-type{
                    font-size: 14px;
                    font-weight: bold;
                    color: #281e78;
                    margin-left: 8px;
                    cursor: pointer;
                }
            }
        }
    }
    .register-name-lastname-fields{
        display: flex;
        justify-content: space-between;
        .MuiFormControl-root{
            width: 48%;
        }
    }
}
