.product {
    width: 31.6%;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
    padding: 8px 8px 11px;
    border-radius: 11px;
    transition: 0.3s;
    &:hover {
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.288);
    }
    .opacity-5 {
        opacity: 0.5;
    }
    .product-item {
        height: 19vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0f3f5;
        border-radius: 10px;
        overflow: hidden;
        padding: 9%;
        .product-img-area {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            transition: 0.25s;
            img {
                width: 100%;
            }
        }
    }
    .product-discription {
        .item-first-name {
            line-height: 24px;
            color: #281e78;
            margin-top: 8px;
        }
        .item-discription {
            display: flex;
            .item-name {
                font-weight: bold;
                margin-right: 8px;
            }
        }
        .item-format {
            margin-bottom: 4px;
            line-height: 24px;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.6);
        }
        .item-price {
            margin-bottom: 8px;
            .price {
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                color: #281e78;
            }
            .sale-price {
                text-decoration-line: line-through;
                margin-left: 8px;
            }
        }
        .item-buttons {
            display: flex;
            justify-content: space-between;
            grid-column-gap: 4%;
            > div {
                width: 48%;
                display: flex;
                button {
                    // padding: 3px 16px;
                    border: none;
                    border-radius: 10px;
                    width: 50%;
                    padding: 4px 0s;
                    height: 32px;
                }
                .item-btn {
                    background-color: #12d8a8;
                    color: #ffffff;
                    margin-right: 8px;
                }
                .pack-btn {
                    color: #8b8b8b;
                    background-color: #f0f3f5;
                }
            }
            .add-to-cart-btn {
                width: 48%;
                padding: 5px 0;
                background-color: #281e78;
                color: #ffffff;
                border-radius: 10px;
                border: none;
                font-weight: bold;
                border: 1px solid #281e78;
                transition: 0.25s;
                &:hover {
                    color: #281e78;
                    background-color: #ffffff;
                }
            }
        }
        .out-of-stock {
            color: #281e78;
            margin-top: 16px;
            font-weight: bold;
        }
    }
    &:hover {
        //
    }
}

//    MIN!!!!
@media screen and (min-width: 1751px) {
    .products {
        .products-list {
            .products-container {
                grid-column-gap: 1.6%;
                grid-row-gap: 36px;
                .product {
                    width: 23%;
                    .opacity-5 {
                        opacity: 0.5;
                    }
                    .product-item {
                        height: 14vw;
                    }
                }
            }
        }
    }
}
//  !!!!max!!!
@media screen and (max-width: 1250px) {
    .product {
        .product-discription {
            .item-buttons {
                flex-direction: column;
                > div {
                    width: 100%;
                }
                .add-to-cart-btn {
                    margin-top: 16px;
                    width: 100%;
                    height: 48px;
                }
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .product {
        width: 23%;
        .product-discription{
            .item-discription{
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .product {
        width: 31.6%;
        .product-item {
            height: 26.5vw;
            .product-img-area {
                width: 135px;
                height: 135px;
            }
        }
        .product-discription {
            .item-name {
                font-size: 14px;
            }
            .item-size {
                font-size: 14px;
            }
            .item-first-name{
                font-size: 12px;
            }

            .item-format{
                font-size: 12px;
            }
            .item-price {
                .price {
                    font-size: 16px;
                }
                .sale-price {
                    font-size: 14px;
                }
            }
        }
        > button {
            margin-top: 24px;
        }
    }
}

@media screen and (max-width: 580px) {
    .product {
        width: 47.5%;
        .product-item {
            height: 39.6vw;
            .product-img-area {
                width: 81%;
                height: 81%;
            }
        }
    }
}
