main.products-page {
    .products-into {
        display: flex;
        align-items: center;
        h2 {
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            color: #281e78;
            margin-bottom: 0;
        }
        span {
            font-size: 18px;
            color: #8b8b8b;
            margin-left: 16px;
        }
    }
    section.products-page-section {
        padding: 24px 7.5% 108px;
        .products {
            display: flex;
            justify-content: space-between;
            padding-top: 24px;
            > div {
                width: 21.5%;
                position: relative;
                >div{
                    width: 100%;
                    .products-filters {
                        width: 100%;
                        overflow-y: scroll;
                        max-height: 100vh;
                        height: 100vw;
                        padding-right: 8px;
                        position: relative;
                        // &::-webkit-scrollbar {
                        //     display: none;
                        // }
                        &::-webkit-scrollbar {
                            // display: none;
                            width: 9px;
                        }
                        &::-webkit-scrollbar-track {
                            box-shadow: inset 0 0 6px #d2d5d6;
                            border-radius: 5px;
                        }
    
                        &::-webkit-scrollbar-thumb {
                            background-color: #c4c4c4;
                            // outline: 1px solid #C4C4C4;
                            border-radius: 5px;
                        }
                        .product-sorting {
                            h2 {
                                color: #12d8a8;
                                font-weight: bold;
                                font-size: 18px;
                                line-height: 24px;
                                margin-bottom: 11px;
                            }
                            p{
                                margin-bottom: 8px;
                                margin-left: 9px;
                                cursor: pointer;
                                width: 80%;
                                &.active{
                                    background-color: #F0F3F5;
                                    color: #281e78;
                                    border-radius: 4px;
                                    font-weight: bold;
                                }
                            }
                        }
                        .MuiPaper-root {
                            margin: 0;
                            box-shadow: none;
                            border-bottom: 1px solid #e1e3e5;
                            &:last-of-type{
                                border: none;
                            }
                            &.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
                                display: none;
                            }
                            .MuiButtonBase-root {
                                padding: 0;
                                .MuiAccordionSummary-content {
                                    margin: 0;
                                    .MuiTypography-root{
                                        font-size: 18px;
                                        font-weight: bold;
                                    }
                                }
                                .MuiAccordionSummary-content {
                                    color: #000000;
                                }
                                .MuiAccordionSummary-expandIconWrapper svg {
                                    fill: #000000;
                                }
                            }
                            .MuiCollapse-root {
                                .MuiCollapse-wrapper {
                                    .MuiAccordionDetails-root {
                                        padding: 0 0 0 8px;
                                        .item-container {
                                            margin-bottom: 8px;
                                            padding-right: 12px;
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;
                                            label {
                                                grid-column-gap: 8px;
                                            }
                                            > span {
                                                color: #8b8b8b;
                                            }
                                        }
                                    }
                                }
                            }
                            .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
                                min-height: 48px;
                            }
                        }
                    }
                    &.fixed-filter {
                        position: fixed;
                        top: 0;
                        left: 0;
                        // width: 210px;
                        // margin-left: 3.5%;
                        padding-left: 7.5%;
                        .products-filters{
                            width: 19.75%;
                        }
                    }
                    &.last-filter{
                        position: absolute;
                        bottom: -108px;
                    }

                }
                .filter-buttons{
                    display: flex;
                    justify-content: space-between;
                    grid-column-gap: 16px;
                    padding-right: 18px;
                    padding-top: 24px;
                    position: fixed;
                    left: 7.5%;
                    bottom: 0;
                    background-color: #FFFFFF;
                    .cancel-button{
                        background-color: #FFFFFF;
                        border-radius: 10px;
                        color: #281e78;
                        font-weight: bold;
                        padding: 12px;
                        border: 1px solid #281e78;
                        width: 108px;
                    }
                    .apply-button{
                        background-color: #281e78;
                        color: #FFFFFF;
                        font-weight: bold;
                        border-radius: 10px;
                        padding: 12px;
                        border: none;
                        width: 108px;
                    }
                }
                .fiter-buttonst-fix{
                    position: absolute;
                    bottom: -108px;  
                    left: 0;
                }
            }

            .products-list {
                width: 78.5%;
                padding-left: 3.9%;
                .sort-by {
                    font-weight: bold;
                    margin-bottom: 16px;
                    display: flex;
                    justify-content: end;
                    grid-column-gap: 11px;
                    > div {
                        display: flex;
                        p {
                            color: #281e78;
                        }
                        svg {
                            fill: #281e78;
                        }
                    }
                    > button {
                        display: none;
                    }
                }
                .products-container {
                    display: flex;
                    flex-wrap: wrap;
                    grid-column-gap: 2.6%;
                    grid-row-gap: 24px;
                    p {
                        margin: 0;
                    }
                    .product {
                        width: 31.6%;
                        .opacity-5 {
                            opacity: 0.5;
                        }
                        .product-item {
                            height: 20vw;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #f0f3f5;
                            border-radius: 10px;
                            overflow: hidden;
                            .product-img-area {
                                display: flex;
                                justify-content: center;
                                transition: 0.25s;
                            }
                        }
                        .product-discription {
                            .item-name {
                                margin-top: 16px;
                                font-weight: bold;
                            }
                            .item-price {
                                margin-bottom: 8px;
                                .price {
                                    font-weight: bold;
                                    font-size: 20px;
                                    line-height: 24px;
                                    color: #281e78;
                                }
                                .sale-price {
                                    text-decoration-line: line-through;
                                    margin-left: 8px;
                                }
                            }
                            > div {
                                button {
                                    padding: 3px 16px;
                                    border: none;
                                    border-radius: 10px;
                                }
                                .item-btn {
                                    background-color: #12d8a8;
                                    color: #ffffff;
                                    margin-right: 8px;
                                }
                                .pack-btn {
                                    color: #8b8b8b;
                                    background-color: #f0f3f5;
                                }
                            }
                            .out-of-stock {
                                color: #281e78;
                                margin-top: 16px;
                                font-weight: bold;
                            }
                        }
                        > button {
                            padding: 11px 45px;
                            border: 1px solid #281e78;
                            color: #281e78;
                            background-color: #ffffff;
                            border-radius: 10px;
                            margin-top: 28px;
                            font-weight: bold;
                            transition: 0.25s;
                            &:hover {
                                background-color: #281e78;
                                color: #ffffff;
                            }
                        }
                        &:hover {
                            .product-item {
                                .product-img-area {
                                    transform: scale(1.2);
                                }
                            }
                        }
                    }
                }
                .viewed-products {
                    padding-top: 58px;
                    text-align: center;
                    width: 300px;
                    .all-products {
                        .viewed-products-procent {
                            position: absolute;
                            left: 0;
                            top: 0;
                            bottom: 0;
                            width: 60%;
                            background-color: #281e78;
                        }
                        width: 100%;
                        background-color: #f0f3f5;
                        height: 4px;
                        position: relative;
                    }
                    .view-more-products {
                        border: 1px solid #281e78;
                        color: #281e78;
                        background-color: #ffffff;
                        border-radius: 10px;
                        margin-top: 16px;
                        font-weight: bold;
                        transition: 0.25s;
                        width: 100%;
                        padding: 12px;
                        &:hover {
                            background-color: #281e78;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    // MIN !!!
    @media screen and (min-width: 1751px) {
        section.products-page-section {
            .products {
                .products-list {
                    .products-container {
                        grid-column-gap: 1.6%;
                        grid-row-gap: 36px;
                        .product {
                            width: 23%;
                            .opacity-5 {
                                opacity: 0.5;
                            }
                            .product-item {
                                height: 14vw;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        .products-into {
            h2 {
                font-size: 26px;
            }
        }
        section.products-page-section {
            padding: 35px 6.5% 104px;
            .products {
                .products-filters {
                    display: none;
                }
                .products-list {
                    width: 100%;
                    padding-left: 0;
                    .sort-by {
                        margin-bottom: 16px;
                        justify-content: space-between;
                        grid-column-gap: 11px;
                        > button {
                            border: none;
                            background-color: unset;
                            display: inline-flex;
                            padding: 0;
                            justify-content: flex-end;
                        }
                    }
                    .products-container {
                        .product {
                            width: 23%;
                            > button {
                                width: 100%;
                                padding: 11px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        .products-into {
            justify-content: space-between;
            h2 {
                font-size: 22px;
                line-height: 32px;
            }
            span {
                font-size: 16px;
            }
        }
        section.products-page-section {
            padding: 16px 4.27% 104px;
            .products {
                .products-list {
                    .products-container {
                        .product {
                            width: 31.6%;
                            .product-item {
                                height: 29vw;
                                .product-img-area {
                                    width: 135px;
                                    height: 135px;
                                }
                            }
                            .product-discription {
                                .item-name {
                                    font-size: 14px;
                                    margin-top: 8px;
                                }
                                .item-size {
                                    font-size: 14px;
                                }
                                .item-price {
                                    .price {
                                        font-size: 16px;
                                    }
                                    .sale-price {
                                        font-size: 14px;
                                    }
                                }
                            }
                            > button {
                                margin-top: 24px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 580px) {
        section.products-page-section {
            .products {
                .products-list {
                    .products-container {
                        grid-column-gap: 5%;
                        .product {
                            width: 47.5%;
                            .product-item {
                                height: 44vw;
                                .product-img-area {
                                    width: 81%;
                                    height: 81%;
                                }
                            }
                        }
                    }
                    .viewed-products {
                        width: 100%;
                        padding: 40px 22px 0;
                    }
                }
            }
        }
    }
}
