main.products-page {
    p {
        margin: 0;
    }
    .products-into {
        display: flex;
        align-items: center;
        h2 {
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            color: var(--blue);
            margin-bottom: 0;
        }
        span {
            font-size: 18px;
            color: var(--gray);
            margin-left: 16px;
        }
    }
    .products-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        gap: 24px;
    }
    section.products-page-section {
        max-width: 1264px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px 108px;
        .products {
            display: flex;
            justify-content: space-between;
            padding-top: 24px;

            .products-list {
                width: 78.5%;
                padding-left: 3.9%;
                .sort-by {
                    font-weight: bold;
                    margin-bottom: 16px;
                    display: flex;
                    justify-content: end;
                    grid-column-gap: 11px;
                    > div {
                        display: flex;
                        p {
                            color: var(--blue);
                        }
                        svg {
                            fill: var(--blue);
                        }
                    }
                    > button {
                        display: none;
                    }
                }
                .viewed-products {
                    padding-top: 58px;
                    text-align: center;
                    width: 300px;
                    .all-products {
                        .viewed-products-procent {
                            position: absolute;
                            left: 0;
                            top: 0;
                            bottom: 0;
                            width: 60%;
                            background-color: var(--blue);
                        }
                        width: 100%;
                        background-color: var(--blue-gray);
                        height: 4px;
                        position: relative;
                    }
                    .view-more-products {
                        border: 1px solid var(--blue);
                        color: var(--blue);
                        background-color: var(--white);
                        border-radius: 10px;
                        margin-top: 16px;
                        font-weight: bold;
                        transition: 0.25s;
                        width: 100%;
                        padding: 12px;
                        &:hover {
                            background-color: var(--blue);
                            color: var(--white);
                        }
                    }
                }
            }
        }
    }

    .filter-for-fix-wrap {
        position: relative;
        width: 21.5%;
        > div {
            width: 100%;
            .products-filters {
                width: 100%;
                overflow-y: scroll;
                max-height: 100vh;
                padding-right: 8px;
                position: relative;
                // &::-webkit-scrollbar {
                //     display: none;
                // }
                &::-webkit-scrollbar {
                    // display: none;
                    width: 9px;
                }
                &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 6px #d2d5d6;
                    border-radius: 5px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: var(--gray-light2);
                    // outline: 1px solid #C4C4C4;
                    border-radius: 5px;
                }
                .product-sorting {
                    h2 {
                        color: var(--green);
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 24px;
                        margin-bottom: 11px;
                    }
                    p {
                        margin-bottom: 8px;
                        margin-left: 9px;
                        cursor: pointer;
                        width: 80%;
                        &.active {
                            background-color: var(--blue-gray);
                            color: var(--blue);
                            border-radius: 4px;
                            font-weight: bold;
                        }
                    }
                }
                .MuiPaper-root {
                    margin: 0;
                    box-shadow: none;
                    border-bottom: 1px solid var(--gray-blue-line);
                    &:last-of-type {
                        border: none;
                    }
                    &.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
                        display: none;
                    }
                    .MuiButtonBase-root {
                        padding: 0;
                        .MuiAccordionSummary-content {
                            margin: 0;
                            .MuiTypography-root {
                                font-size: 18px;
                                font-weight: bold;
                            }
                        }
                        .MuiAccordionSummary-content {
                            color: var(--black);
                        }
                        .MuiAccordionSummary-expandIconWrapper svg {
                            fill: var(--black);
                        }
                    }
                    .MuiCollapse-root {
                        .MuiCollapse-wrapper {
                            .MuiAccordionDetails-root {
                                padding: 0 0 0 8px;
                                .item-container {
                                    margin-bottom: 8px;
                                    padding-right: 12px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    label {
                                        grid-column-gap: 8px;
                                    }
                                    > span {
                                        color: var(--gray);
                                    }
                                }
                            }
                        }
                    }
                    .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
                        min-height: 48px;
                    }
                }
            }
            &.fixed-filter {
                // position: fixed;
                // left: 0;
                // width: 210px;
                // margin-left: 3.5%;
                // padding-left: 20px;
                // .products-filters {
                //     width: 19.75%;
                // }
            }
            &.last-filter {
                // position: absolute;
                // bottom: -108px;
            }

            &.filter-for-fix {
                position: sticky;
                top: 0;
                padding-bottom: 100px;
            }
        }
        .filter-buttons {
            position: sticky;
            bottom: 0;
            left: 0;
            display: flex;
            width: 100%;
            grid-column-gap: 16px;
            padding: 15px 0;
            background-color: var(--white);
            .cancel-button {
                background-color: var(--white);
                border-radius: 10px;
                color: var(--blue);
                font-weight: bold;
                padding: 12px;
                border: 1px solid var(--blue);
                width: 108px;
            }
            .apply-button {
                background-color: var(--blue);
                color: var(--white);
                font-weight: bold;
                border-radius: 10px;
                padding: 12px;
                border: none;
                width: 108px;
            }
        }
        // .fiter-buttonst-fix {
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        // }
    }

    // MIN !!!
    @media screen and (min-width: 1751px) {
        section.products-page-section {
            .products {
                .products-list {
                    .products-container {
                        grid-column-gap: 1.6%;
                        grid-row-gap: 36px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        .products-into {
            h2 {
                font-size: 26px;
            }
        }
        section.products-page-section {
            // padding-top: 35px;
            .products {
                > div:first-of-type {
                    // display: none;
                }
            }
        }

        .products-list {
            width: 70%;
            padding-left: 0;
            .sort-by {
                margin-bottom: 16px;
                justify-content: space-between;
                grid-column-gap: 11px;
                > button {
                    border: none;
                    background-color: unset;
                    display: inline-flex;
                    padding: 0;
                    justify-content: flex-end;
                }
            }
        }
        
        .filter-for-fix-wrap {
            max-width: 265px;
            width: calc(30% - 16px);
            margin-right: 16px;
        }

        .products-container {
            grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
            gap: 16px;
        }
    }

    @media screen and (max-width: 767px) {

        .products-list {
            width: 100%;
        }

        .products-into {
            justify-content: space-between;
            h2 {
                font-size: 22px;
                line-height: 32px;
            }
            span {
                font-size: 16px;
            }
        }
        section.products-page-section {
            // padding: 16px 4.27% 104px;
            .products {
                .products-list {
                    .products-container {
                    }
                }
            }
        }
        section.products-page-section .products {
            padding-top: 16px;
        }

        
        .filter-for-fix-wrap {
            display: none;
        }
    }

    @media screen and (max-width: 580px) {
        section.products-page-section {
            .products {
                .products-list {
                    .products-container {
                        grid-column-gap: 5%;
                    }
                    .viewed-products {
                        width: 100%;
                        padding: 40px 22px 0;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 480px) {
        .products-container {
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        }
    }
}
