.slider {
    padding-top: 96px;
    .title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
        align-items: flex-end;
        > h2 {
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            color: var(--blue);
            margin-bottom: 0;
        }
        > p {
            margin-bottom: 0;
            white-space: nowrap;
        }
    }
    .slick-slider {
        button.slick-arrow {
            z-index: 9;
            &.slick-disabled {
                display: none !important;
            }
            &.slick-next::before {
                content: url("../../resourses/images/slider-arrow.png");
                opacity: 1;
            }
            &.slick-prev {
                transform: rotate(180deg);
                top: 58%;
                left: 10px;

                &::before {
                    content: url("../../resourses/images/slider-arrow.png");
                    opacity: 1;
                }
            }
            &.slick-next {
                right: 10px;
                top: 40%;
            }
        }
        .slick-list {
            .slick-track {
                .slick-slide {
                    > div {
                        overflow: hidden;
                        // width: 184px;
                        padding: 0 12px;
                        border-radius: 11px;
                        a {
                            text-decoration: none;
                        }

                        .slide-item-1 {
                            display: flex !important;
                            justify-content: end;
                            align-items: flex-end;
                            width: 100%;
                            height: 184px;
                            position: relative;
                            background-color: var(--blue-gray);
                            border-radius: 11px;
                            overflow: hidden;

                            > p {
                                position: absolute;
                                top: 16px;
                                left: 16px;
                                font-size: 16px;
                                color: #000000;
                            }
                            .slick-slide-1-img-area {
                                width: fit-content;
                                max-width: 144px;
                                height: 144px;
                                overflow: hidden;
                                float: right;
                                img {
                                    object-fit: cover;
                                }
                            }
                        }
                        .slide-item-2 {
                            width: 100%;
                            height: 100%;
                            padding: 16px;
                            background-color: var(--blue-gray);
                            border-radius: 10px;
                            .slick-slide-2-img-area {
                                display: flex;
                                justify-content: center;
                            }
                        }
                        .slide-2-discription {
                            width: 100%;
                            .item-name {
                                margin-top: 8px;
                                font-weight: bold;
                                font-size: 16px;
                                margin-bottom: 0;
                                color: #000000;
                            }
                            .item-size {
                                margin-bottom: 8px;
                                color: #000000;
                            }
                            .item-price {
                                margin-bottom: 8px;
                                .price {
                                    font-weight: bold;
                                    font-size: 20px;
                                    line-height: 24px;
                                    color: var(--blue);
                                }
                                .sale-price {
                                    text-decoration-line: line-through;
                                    margin-left: 8px;
                                    color: #000000;
                                }
                            }
                            > div {
                                button {
                                    height: 32px;
                                    padding: 3px 16px;
                                    border-radius: 10px;
                                    border: none;
                                }
                                .item-btn {
                                    background-color: var(--green);
                                    color: var(--white);
                                    margin-right: 8px;
                                }
                                .pack-btn {
                                    background-color: var(--blue-gray);
                                    color: var(--gray);
                                }
                            }
                            > button {
                                width: 100%;
                                margin-top: 16px;
                                height: 48px;
                                padding: 0 12px;
                                font-size: 16px;
                                line-height: 24px;
                                font-weight: 700;
                                background-color: var(--white);
                                color: var(--blue);
                                border: 1px solid var(--blue);
                                border-radius: 10px;
                                &:hover {
                                    background-color: var(--blue);
                                    color: var(--white);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.slider-2 {
        .title {
            margin-bottom: 22px;
        }
        .slick-slider {
            button.slick-arrow.slick-prev {
                top: 49%;
            }
            .slick-list {
                margin: 0 -12px;
                padding: 8px 0;
                .slick-track {
                    .slick-slide {
                        > div {
                            // width: 198px;
                            margin: 0 4px;
                            padding: 8px;
                            transition: 0.3s;
                            &:hover {
                                box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.144);
                            }
                        }
                    }
                }
            }
        }
    }

    &.slider-1 {
        .slick-list {
            margin: 0 -12px;
        }
    }

    @media (max-width: 1024px) {
        padding-top: 72px;
        .title {
            padding-right: 0;
        }
        @media (max-width: 768px) {
            .slick-slider {
                .slick-list {
                    .slick-track {
                        .slick-slide {
                            > div {
                                overflow: hidden;
                                // width: 136px;
                                .slide-item-1 {
                                    // width: 136px;
                                    height: 136px;
                                    .slick-slide-1-img-area {
                                        max-width: 110px;
                                        height: 110px;
                                        img {
                                            width: 100%;
                                        }
                                    }
                                }
                                .slide-item-2 {
                                    // width: 136px;
                                    .slick-slide-2-img-area {
                                        max-width: 110px;
                                        max-height: 110px;
                                        img {
                                            object-fit: contain;
                                        }
                                    }
                                }
                                .slide-2-discription {
                                    .item-name,
                                    .item-size {
                                        font-size: 14px;
                                    }
                                    .item-price {
                                        margin-bottom: 8px;
                                        .price {
                                            font-size: 16px;
                                        }
                                        .sale-price {
                                            font-size: 14px;
                                        }
                                    }
                                    > div {
                                        button {
                                            height: 32px;
                                            padding: 0 15px;
                                            border-radius: 10px;
                                            border: none;
                                        }
                                        .item-btn {
                                            background-color: var(--green);
                                            color: var(--white);
                                            margin-right: 8px;
                                        }
                                        .pack-btn {
                                            background-color: var(--blue-gray);
                                            color: var(--gray);
                                        }
                                    }
                                    > button {
                                        margin-top: 24px;
                                        padding: 11px;
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1320px) {
    .slider .slick-slider button.slick-arrow.slick-next {
        right: 30px;
    }

    .slider .slick-slider button.slick-arrow.slick-prev {
        left: 30px;
    }
}

@media screen and (max-width: 480px) {

    .slider .title h2 {
        font-size: 22px;
        line-height: 32px;
    }

    .slider .slick-slider .slick-list .slick-track .slick-slide > div {
        padding: 0 8px;
    }

    .slider.slider-2 .slick-slider .slick-list {
        margin: 0 -20px 0 -12px;
    }

    .slider.slider-2 .slick-slider .slick-list .slick-track .slick-slide > div {
        margin: 0 4px;
        padding: 4px;
    }
}
