.header_favorite {
    line-height: 0;
    text-decoration: none;

    i {
        font-size: 26px;
    }
}

.header_nav_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.header_favorite,
.header-sign-in {
    margin-right: 24px;
}

.header-bag {
    a {
        text-decoration: none;
    }

    i {
        font-size: 26px;
    }
}

.header-sign-in {
    i {
        font-size: 26px;
    }
}

@media screen and (max-width: 768px) {

    .header_favorite,
    .header-sign-in {
        margin-right: 16px;
    }

}
