.custom_radio {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.custom_radio_checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    display: flex;
    width: 20px;
    height: 20px;
    border: 2px solid var(--black);
    border-radius: 50%;

    &:before {
        content: "";
        width: 10px;
        height: 10px;
        margin: auto;
        background-color: var(--black);
        opacity: 0;
        border-radius: 50%;
    }
}

.custom_radio_title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--black);
}

.custom_radio_input {
    position: absolute;
    left: 0;
    opacity: 0;

    &:checked + .custom_radio_checkmark {

        &:before {
            opacity: 1;
        }
    }
}

@media screen and (max-width: 768px) {

    .custom_radio_title {
        font-size: 16px;
    }

}
