.account_orders {
    flex-grow: 1;
    max-width: 808px;
    width: calc(100% - 313px);
    margin-left: auto;
    
    h3 {
        margin-bottom: 40px;
        font-size: 22px;
        line-height: 32px;
        font-weight: 700;
        color: var(--blue);
    }
}
