.breadcrumbs_wrap {
    height: 48px;
    margin: 0 auto 24px;
    background-color: var(--blue-gray);
}

.breadcrumbs {
    display: flex;
    justify-content: center;
    max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    padding: 12px 20px;

    a {
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;

        &:not(:last-child) {
            color: var(--gray);

            &:after {
                content: "/";
                margin: 0 8px;
            }
        }

        &:last-child {
            color: var(--blue);
            cursor: default;
        }
    }
}

@media screen and (max-width: 992px) {

    .breadcrumbs_wrap {
        margin: 0 auto 16px;
    }
    
    .breadcrumbs {

        a {
            font-size: 14px;
        }
    }

}

