:root {
    --blue: #281E78;
    --blue-light: #36289c;
    --green: #12D8A8;
    --blue-gray: #F0F3F5;
    --gray: #8B8B8B;
    --black: #000;
    --white: #fff;
    --gray-dark: #5F6D7C;
    --gray-light: #c9c9c9;
}
