@font-face {
    font-family: "Noto Sans";
    src: url("./resourses/fonts/NotoSans-Bold.ttf");
}
@font-face {
    font-family: "Noto Sans";
    src: url("./resourses/fonts/NotoSans-BoldItalic.ttf");
}
@font-face {
    font-family: "Noto Sans";
    src: url("./resourses/fonts/NotoSans-Italic.ttf");
}
@font-face {
    font-family: "Noto Sans";
    src: url("./resourses/fonts/NotoSans-Regular.ttf");
}
@font-face {
    font-family: "Noto Sans";
    src: url("./resourses/fonts/OFL.txt");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Noto Sans !important;
    margin-bottom: 0;
}

.font-14 {
    font-size: 14px;
}
.font-16 {
    font-size: 16px;
}

// .fixed-header {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     width: 100%;
//     background-color: #ffffff;
//     z-index: 100;
//     background: linear-gradient(135deg, rgb(255 255 255 / 81%), rgb(255 255 255 / 4%));
//     backdrop-filter: blur(15px) brightness(0.8);
// }

// .pt-152{
//     padding-top: 102px !important;
// }
